<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>ChatMeBaby - Error 404</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="front/css/error-404.css">
  <link rel="icon" href="Logo/LogoTrans.png" type="image/png" sizes="16x16">
</head>

<body style="margin: 0; padding: 0;">
  <div id="tableContainer-1">
  <div id="tableContainer-2" align=center>
    <table width=40% id="myTable" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td align=center>
          <img src="front/img/error-404.png" alt="Error 404" width="100%" style="display: block;"/>
        </td>
      </tr>

      <tr>
        <td style="margin: 0 0 0 0; padding: 0 0 0 0;">
          <p id="goHome"> Go <a href="/">Home</a> baby, you're drunk !</p>
          <p id="message">The page you are looking for doesn't exist.<p>
        </td>
      </tr>

    </table>
  </div>
  </div>
</body>

</html>
