<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>ChatMeBaby - Create an account</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" href="front/css/create-account.css">
  <link rel="stylesheet" type="text/css" href="front/css/button.css">
  <link rel="stylesheet" type="text/css" href="front/css/radiobutton.css">
  <script src="JS/create-account.js"></script>
</head>

<body style="margin: 0; padding: 0; background-color: #f9f9f7;">
<form id="myForm" method="post">

 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="padding: 20px 0 30px 0;">

     <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #636363; border-collapse: collapse; box-shadow: 0px 7px 15px 8px #4c4c4c;">
        <tr>
          <td align="center" bgcolor="#70bbd9" style="padding: 0px 0 0px 0;">
            <img src="front/img/create-account-top.png" alt="ChatMeBaby" width="600" height="250" style="display: block;"/>
          </td>
        </tr>

        <!-- Form to fulfill in order to create an account -->
        <tr>
          <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
             <tr>
               <td style="color: #081419; font-family: 'Pacifico', Arial, sans-serif; font-size: 30px;">
                <b>Create an account</b>
               </td>
             </tr>

             <tr>
              <td style="color: #3d3d3d; font-family: 'Roboto'; font-size: 14px; line-height: 20px; padding: 0 0 0 0;">
                <i>You may fulfill the form below in order to create your account.</i>
              </td>
             </tr>

             <!-- Account information -->
             <!-- Username, email & password -->
             <tr>
              <td style="color: #081419; font-family: 'Pacifico', Arial, sans-serif; font-size: 24px; line-height: 20px; padding: 25px 0 5px 0;">
                <label for="nom"><b>Account information</b></label><br>
              </td>
             </tr>

             <tr>
              <td style="color: #081419; font-family: 'Roboto'; font-size: 18px; line-height: 20px; padding: 10px 0 5px 5px;">
                <label for="nom">Username</label><br>
              </td>
             </tr>

             <tr>
              <td style="padding: 0 0 5px 5px;">
                <input type="text" name="username" id="username" title="You must enter your username." placeholder="Your username.." autofocus required/>
              </td>
             </tr>

             <tr>
              <td style="color: #081419; font-family: 'Roboto'; font-size: 18px; line-height: 20px; padding: 10px 0 5px 5px;">
                <label for="nom">Email adress</label><br>
              </td>
             </tr>

             <tr>
              <td style="padding: 0 0 5px 5px;">
                <input type="email" name="email" id="email" title="You must enter your email." placeholder="Your email.." required/>
              </td>
             </tr>

             <tr>
              <td style="color: #081419; font-family: 'Roboto'; font-size: 18px; line-height: 20px; padding: 10px 0 5px 5px;">
                <label for="nom">Password</label><br>
              </td>
             </tr>

             <tr>
              <td style="padding: 0 0 5px 5px;">
                <input type="password" name="password" id="password"
                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                       title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters."
                       onchange="validatePassword()"
                       placeholder="Your password.." required/>
              </td>
             </tr>

             <tr>
              <td style="padding: 0 0 5px 5px;">
                <input type="password" name="confirm-password" id="confirm-password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                title="Must be equal to the password above."
                onchange="validatePassword()"
                placeholder="Confirm password.." required/>
              </td>
             </tr>

             <!-- Personal information -->
             <!-- First name, last name, birth date,
             phone number & skype -->
             <tr>
              <td style="color: #081419; font-family: 'Pacifico', Arial, sans-serif; font-size: 24px; line-height: 20px; padding: 25px 0 5px 0;">
                <label for="nom"><b>Personal information</b> <a style="color: #4c4c4c; font-size: 16px;"><i>(optional)</i></a></label><br>
              </td>
             </tr>

             <tr>
              <td style="color: #081419; font-family: 'Roboto'; font-size: 18px; line-height: 20px; padding: 10px 0 5px 5px;">
                <label for="nom">First name</label><br>
              </td>
             </tr>

             <tr>
              <td style="padding: 0 0 5px 5px;">
                <input type="text" name="firstname" id="firstname" placeholder="Your first name.."/>
              </td>
             </tr>

             <tr>
              <td style="color: #081419; font-family: 'Roboto'; font-size: 18px; line-height: 20px; padding: 10px 0 5px 5px;">
                <label for="nom">Last name</label><br>
              </td>
             </tr>

             <tr>
              <td style="padding: 0 0 5px 5px;">
                <input type="text" class="effect" name="lastname" id="lastname" placeholder="Your last name.."/>
              </td>
             </tr>

             <tr>
              <td style="color: #081419; font-family: 'Roboto'; font-size: 18px; line-height: 20px; padding: 10px 0 5px 5px;">
                <label for="nom">Gender</label><br>
              </td>
             </tr>

             <tr><td style="padding: 8px 0 5px 5px;">
               <input type="radio" name="gender" id="male" />
               <label class="label" for="male">Male</label>
               <input type="radio" name="gender" id="female" />
               <label class="label" for="female">Female</label>
               <input type="radio" name="gender" id="notsure" checked/>
               <label class="label" for="notsure">Not sure</label>
               <!--<input type="text" name="gender" id="gender" title="Is this your gender ?" placeholder="Your gender.."/>
             --></td></tr>

             <tr>
              <td style="color: #081419; font-family: 'Roboto'; font-size: 18px; line-height: 20px; padding: 10px 0 5px 5px;">
                <label for="nom">Birth date</label><br>
              </td>
             </tr>

             <tr>
              <td style="padding: 0 0 5px 5px;">
                <input type="date" name="birthdate" id="birthdate" placeholder="JJ/MM/AAAA"/>
              </td>
             </tr>

             <tr>
              <td style="color: #081419; font-family: 'Roboto'; font-size: 18px; line-height: 20px; padding: 10px 0 5px 5px;">
                <label for="nom">Phone number</label><br>
              </td>
             </tr>

             <tr>
              <td style="padding: 0 0 5px 5px;">
                <input type="tel" name="phonenumber" id="phonenumber" placeholder="Your phone number.."/>
              </td>
             </tr>

             <tr>
              <td style="color: #081419; font-family: 'Roboto'; font-size: 18px; line-height: 20px; padding: 10px 0 0 5px;">
                <label for="nom">City</label><br>
              </td>
             </tr>

             <tr>
              <td style="padding: 0 0 5px 5px;">
                <input type="text" name="city" id="city" placeholder="Your city.."/>
              </td>
             </tr>

             <tr>
              <td style="color: #081419; font-family: 'Roboto'; font-size: 18px; line-height: 20px; padding: 10px 0 5px 5px;">
                <label for="nom">Description</label><br>
              </td>
             </tr>

             <tr>
              <td style="padding: 0 0 5px 5px;">
                <textarea form="myForm" name="description" placeholder="Your description..">
                </textarea>
              </td>
             </tr>

            </table>
          </td>
        </tr>

        <!-- Terms of Service and Privacy Policy -->
        <tr>
          <td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
             <tr>
              <td style="color: #ffffff; font-family: 'Roboto'; font-size: 14px;">
               By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use.
              </td>
              <td align="right">
               <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                 <td>
                  <div class="onoffswitch">
                   <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                   <label class="onoffswitch-label" for="myonoffswitch">
                       <span class="onoffswitch-inner"></span>
                       <span class="onoffswitch-switch"></span>
                   </label>
                  </div>
                 </td>
                </tr>
               </table>

              </td>
             </tr>
            </table>

          </td>
        </tr>
     </table>

   </td>
  </tr>
 </table>

 <table border="0" cellpadding="0" cellspacing="0" width="100%">

   <tr>
     <td align="center" style="padding: 10px 0 100px 0;">
       <a class=button onclick="checkAllValidate()" style='cursor: pointer'>
         <span style="font-size: 36px;">Sign up !</span>
       </a>
     </td>
   </tr>
 </table>
</form>
</body>

</html>
