
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
	<title>Chat Me Baby - Home</title>

<link rel="stylesheet" type="text/css" href="front/css/home.css">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="JS/js.js"></script>
<script type="text/javascript" src="JS/jquery.stellar.min.js"></script>
<script type="text/javascript" src="JS/waypoints.min.js"></script>
<script type="text/javascript" src="JS/jquery.easing.1.3.js"></script>

</head>

<body>

	<!--Start Slide 1-->

	<ul class="navigation" style="font-family: 'Roboto';" width=200px>
		<li data-slide="1">What is it ?</li>
		<li data-slide="2">For who ?</li>
		<li data-slide="3">10+ users !</li>
		<li data-slide="4">Tutorial</li>
	</ul>

	<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">

	<div class="wrapper">

    <img src="front/img/home/slide1/heart.png" width="13%" data-stellar-ratio="2" data-stellar-vertical-offset="-300" alt="">
    <img src="front/img/home/slide1/heart.png" style="transform: scaleX(-1);" width="11%" data-stellar-ratio="1.5" data-stellar-vertical-offset="-300" alt="">
		<img src="front/img/home/slide1/star.png" width="11%" data-stellar-ratio="0.95" data-stellar-vertical-offset="100" alt="">
		<img src="front/img/home/slide1/conv.png" width="22%" data-stellar-ratio="1.4" data-stellar-vertical-offset="-100" alt="">
		<img src="front/img/home/slide1/man1.png" width="11%" data-stellar-ratio="1.3" data-stellar-vertical-offset="-600" alt="">
		<img src="front/img/home/slide1/woman1.png" width="13%" data-stellar-ratio="1.6" data-stellar-vertical-offset="-100" alt="">
		<img src="front/img/home/slide1/star.png" style="transform: scaleX(-1);" width="13%" data-stellar-ratio="0.8" data-stellar-vertical-offset="100" alt="">
		<img src="front/img/home/slide1/new.png" width="23%" data-stellar-ratio="1.6" data-stellar-vertical-offset="100" alt="">

	</div>

		<span class="parallaxbg">What's Chat Me Baby ?</span>

		<span class="description">
			<p>A meeting site based on your personality where you can socialize with new people through 2+ users chat rooms !</p>
			<p style="padding: 8px 0 0 0;">Get to know your future friends... or lover.</p>
			<p style="font-size: 36px; font-family: 'Pacifico', 'Roboto', Arial, sans-serif; padding: 8px 0 0 0;">
				Join the community now !
			</p>
		</span>

		<span class="slideno">Welcome</span>

		<a class="button" data-slide="2" title=""></a>

	</div>

	<!--End Slide 1-->

	<!--Start Slide 2-->

	<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0">

		<span class="slideno">Slide 2</span>

		<span class="parallaxbg">For who ?</span>

		<a class="button" data-slide="3" title=""></a>

	</div>

	<!--End Slide 2-->

	<!--Start Slide 3-->

	<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">

		<div class="wrapper">

			<img src="front/img/home/slide3/kilt.png" data-stellar-ratio="2.4" data-stellar-vertical-offset="-102" alt="">
			<img src="front/img/home/slide3/scotland.png" data-stellar-ratio="1" data-stellar-vertical-offset="-53" alt="">
			<img src="front/img/home/slide3/loch.png" data-stellar-ratio="2.5" data-stellar-vertical-offset="-50" alt="">
			<img src="front/img/home/slide3/tutshub.png" data-stellar-ratio="0.8" data-stellar-vertical-offset="-180" alt="">
			<img src="front/img/home/slide3/rockable.png" data-stellar-ratio="1.2" data-stellar-vertical-offset="-230" alt="">

		</div>

		<span class="slideno">Slide 3</span>

		<a class="button" data-slide="4" title=""></a>

	</div>

	<!--End Slide 3-->

	<!--Start Slide 4-->

	<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0">

		<span class="slideno">Slide 4</span>

		<span class="parallaxbg">How to use it ?</span>

	</div>

	<!--End Slide 4-->

</body>
</html>
