<link rel="stylesheet" type="text/css" href="front/css/radiobutton.css">

<div class="center-on-page">

  <h1>Pure CSS Fancy Checkbox/Radio</h1>

  <h2>Radio Buttons</h2>
  <input type="radio" name="rb" id="rb1" />
  <label for="rb1">Check this</label>
  <input type="radio" name="rb" id="rb2" />
  <label for="rb2">... or this...</label>
  <input type="radio" name="rb" id="rb3" />
  <label for="rb3">or maybe this</label>

  <h2>Checkbox</h2>
  <input type="checkbox" name="cb" id="cb1" />
  <label for="cb1">Check this</label>
  <input type="checkbox" name="cb" id="cb2" />
  <label for="cb2">... and this...</label>
  <input type="checkbox" name="cb" id="cb3" />
  <label for="cb3">and maybe this</label>

</div>
