* {
    box-sizing: border-box;
}

#body {
    background: #f1f1f1;
    margin: 0px;
    font-family:"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-variant-ligatures:common-ligatures;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
}

#envoi_message {
  background: url("../img/send.png") no-repeat center center;
  background-size: contain;
  width: 40px;
  height: 40px;
  border : none;
	color : transparent;
  cursor: pointer;
}

/* ScrollBar*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height:5px;
}
::-webkit-scrollbar-track {
    background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background:#999;
    border: thin solid gray;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background:#7d7d7d;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    text-align: center;
    /*background: linear-gradient(0.25turn,#0951c4, #95b4e5,#0951c4);*/
}

.connectedUser{
  position: absolute;
  height: auto;
  width: auto;
  color: #ffffff;
  top: 8px;
  right: 16px;
  background: #003366;
}

#user{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 2%;
    margin right: 2%;
}

/* Style the top navigation bar */
.topnavchat {
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

/* Style the topnavchat links */
.topnavchat a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnavchat div{
  float: left;
  display: block;
  height: 15%;
  padding: 1px 16px;
  background-color: #666699;
  color: white;

}

.topnavchat p{
  margin: 10px 5px 10px;
}

/* Change color on hover */
.topnavchat a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #666699;
}

/* Create two unequal columns that floats next to each other */
/* Right column */
.rightcolumn {
    float: right;
    width: 88%;
}

.content{
  width: 87%;
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  bottom: 45px;
  right:0;
}

/* Left column */
.client_channel_list_container {
    float: left;
    width: 12%;
    height: calc(100vh - 48px);
    background-color: #666699;
    color:lightgray;
    overflow: hidden;

}
.client_channel_list_container ul{
  list-style-type: none;
  padding: 0;
}

.client_channel_list_container a{
  float: top;
  display: block;
  color: lightgray;
  text-decoration: none;
}

.workingLab{
  padding: 14px 16px 5px;
  margin:0;
}

.workingLab_sidebar:hover,.channelTitle:hover,.channel:hover,.PrivateMessageTitle:hover,.user:hover,.addPeople:hover,.babyTitle:hover,.baby:hover{
  background-color: rgb(0,0,0,0.3);
}

.disponible{
  float:left;
	width: 10px;
	height: 10px;
  display: flex;
  align-items: center;
	background: #38948B;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  margin: 2px 0 1px 18px;
}

.absent{
  float:left;
	width: 10px;
	height: 10px;
	border: 2px solid #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  margin: 2px 0 1px 18px;
}

.username{
  padding: 0px 36px 0px;
  font-size:12px;
  margin:0;
}

.user,.menu_user{
  padding: 5px 20px 5px;
  margin:0;
}

.channelTitle{
  padding: 10px 16px 5px;
  margin:0;
  font-size: 14px;
}

.channel{
  padding: 5px 30px;
  margin:0;
  font-size: 12px;
}

.PrivateMessageTitle{
  padding: 10px 16px 10px;
  margin:0;
  font-size: 14px;
}

.addPeople{
  padding: 10px 16px;
  margin:0;
  font-size: 14px;
}


.babyTitle{
  padding: 10px 16px;
  margin:0;
  font-size: 14px;
}

.baby{
  padding: 5px 30px;
  margin:0;
  font-size: 12px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.input_text {
    width: 93%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
    height: auto;
}

.form{
  position: fixed;
  bottom: 0;
  width: 85%;

}

.form div{
  background-color: transparent;
}

input[type=text]:focus {
    border: 3px solid #555;
}

form button {
  width: 9%;
  height: 45px;
  background: #666699;
  border: none;
  padding: 10px;
  color: #f2f2f2;
  position: fixed;
    bottom: 0;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnavchat a {
        float: none;
        width: 100%;
    }
}

#LogoTransparent {
  height: 180px;
  width: auto;
}

@font-face{
    font-family : "chatMeBaby";
    src : url('../font/Spring In My Step.ttf');
}
